.old-shim-html {overflow-y:auto; min-width:auto}
.old-shim-html #sidebar-container {left:0}

#old-shim-iframe {
	display:none; position:absolute; top:-9999px; left:-9999px;
}

#old-shim-toggle-container {display:none}

@media (min-width:768px) {
	body.old-shim-sidebar {
		position:relative; padding-left:248px!important;
	}
	
	.old-shim-sidebar #old-shim-iframe {
		position:fixed; top:0; bottom:0; left:0;
		width:240px; height:100%;
		box-shadow:0 0 10px rgba(0,0,0,0.3);
	}
	
	#old-shim-toggle-container {display:inline}
}
